@charset "utf-8";
body {
	background: #444;
	font-size: 14px;
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
	line-height: 1.42857143
}
.navbar {
	border-radius: 0;
	border: 0;
	margin:0;
}
.navbar-inverse {
	background: #333333;
}

@media (min-width: 768px) {
.navbar-form .form-control {
	display: inline-block;
	vertical-align: middle;
}
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
	border-radius: 0;
}
}
@media (min-width: 1130px) {
	.navbar-form .form-control {
		width:400px;
		}
}
.navbar-nav > li > a{
	font-weight:normal;
}
.top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	right: 0;
}
.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .select2-search input[type="text"] {
	background: #fff;
}
.navbar-nav > li > .dropdown-menu {
	min-width: 180px;
}
.content {
	margin-top: 63px;
}

@media (max-width: 768px) {
.content_list .media-left {
	display: none;
}
.release-tool {
	display: none!important;
}
}
.release-tool-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #1abc9c;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	z-index: 1001;
	cursor: pointer;
}
.release-tool-btn:hover, .release-tool-btn:focus {
	background: #16a085;
}

@media (min-width: 768px) {
.release-tool-btn {
	display: none;
}
}
.content_list ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.content_list ul li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0 0 20px 0;
	display: inline-block;
}
.list_content {
	width: 100%;
	padding: 15px 0;
	float: Left;
	min-height: 50px;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.list_content .col-xs-3 {
	border-right: 1px solid #f9f9f9;
	cursor: pointer;
	color: #1abc9c;
}
.list_content .col-xs-3:hover {
	opacity: .5;
}
.list_content .col-xs-3 img {
	width: 80%;
	max-width: 50px;
}
.content_img {
	display: none;
}

@media (max-width: 768px) {
.content_list .content_img {
	display: inline-block;
	margin-right: 10px;
}
}
.content_top {
	width: 100%;
	float: left;
	padding: 0 15px 15px 15px;
}

@media (max-width: 768px) {
.content_top {
	line-height: 36px;
}
}
.content_body {
	width: 100%;
	float: left;
	background: #fafafa;
}
.content_body p {
	padding: 10px 15px 0 15px;
	font-size: 14px;
	margin: 0;
}
.content_body p.mbm {
	margin-bottom: 10px;
}
.content_body h6 {
	width: 100%;
	float: Left;
	padding: 15px;
	margin: 0;
	font-size:20px;
}
.content_bottom {
	width: 100%;
	float: left;
	padding: 10px 15px 0 15px;
}
.bottom_tool {
	float: right;
	font-size: 22px;
	line-height: 20px;
}
.bottom_tool a {
	color: #adadad;
}
.bottom_tool a:hover, .bottom_tool a.active {
	color: #1abc9c;
}
.content-right {
	width: 100%;
	float: left;
}
.content-right p {
	color: #999;
	font-size: 14px;
}
.recommend－list {
	width: 100%;
	float: Left;
	padding: 0;
}
.recommend－list ul {
	width: 100%;
	float: Left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.recommend－list ul li {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #575757;
}
.recommend－list ul li h4 {
	margin: 0;
	padding: 0;
	color: #b4b4b4;
	font-weight: normal;
	font-size: 16px;
}
.recommend－list ul li p {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.btn-box {
	WIDTh: 30px;
	height: 30px;
	float: right;
	border-radius: 5px;
	background: #575757;
	text-align: center;
	line-height: 30px;
	color: #999;
}
a.btn-box:hover {
	background: #696969;
}
.bbn {
	border-bottom: none!important;
}
.top-list {
	width: 100%;
	float: Left;
	padding: 0;
}
.top-list ul {
	width: 100%;
	float: Left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.top-list ul li {
	width: 100%;
	padding: 10px 0;
}
.top-list ul li h4 {
	margin: 0;
	padding: 0;
	color: #b4b4b4;
	font-weight: normal;
	font-size: 16px;
}
.top-list ul li p {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.top-list .list_content {
	padding: 0 0 15px 0;
}
.top-list .content_body p {
	padding: 0 15px;
	padding: 10px 15px 0 15px;
	font-size: 14px;
	margin: 0;
	color: #333;
}
.top-list .content_body p.mbm {
	margin-bottom: 10px;
}
.top-list .content_body h6 {
	width: 100%;
	float: Left;
	padding: 15px;
	margin: 0;
}

@media (max-width: 768px) {
.content-right {
	display: none;
}
}
.modal input {
	border: none;
}
.modal textarea {
	border: none;
}
.modal .bootstrap-tagsinput {
	border: none;
}
.fs24 {
	font-size: 24px;
}
#release-photo .modal-body {
	padding: 0;
}
.upload-img {
	width: 50%;
	float: left;
	height: 200px;
	background: #F2F2F2;
	border-top: 1px dashed #c8c7cc;
	border-bottom: 1px dashed #C8C7CC;
	text-align: center;
	cursor: pointer;
	color: #9A9A9A;
}
.upload-box {
	width: 100%;
	height: 100%;
	padding: 50px 0 0 0;
	font-size: 50px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.upload-box p {
	font-size: 14px;
}
.brd {
	border-right: 1px dashed #c8c7cc;
}
.img-upload {
	width: 100%;
	float: left;
	display: none;
}
.upload-box input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	bottom: 0;
}
.fs14 {
	font-size: 14px;
}
.upload-sm {
	width: 100%;
	float: left;
	height: 50px;
	line-height: 50px;
}
.upload-sm .upload-box {
	padding: 0;
	font-size: 16px;
}
.delete {
	position: relative;
	margin-right: 20px;
	float: right;
	margin-top: -30px;
	top: 40px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,1);
	cursor: pointer;
}
.delete:hover {
	opacity: .5;
}
#release-link .modal-body {
	background: #f2f2f2;
	padding: 0;
}
#release-link .modal-body input {
	background: #f2f2f2;
}
#release-camera .modal-body {
	padding: 0;
}
#release-tool-btn{
	z-index:1049;	
}
/*发现页面*/
.discover-controls-wrapper{
	width:100%;
	float:left;
	border-bottom:1px solid #575757;
	min-height:50px;
	line-height:50px;
	padding:0 21px;
	background:#444;
}
.content-cotrols{
		width:100%；
		float:left;
		color:#999;	
}
.content-cotrols .active{
	color:#fff;
}
.content-control{
	color:#999;
	float:Left;
	padding:0 20px 0 0;
}
@media (max-width: 450px){
	.content-control{
	
	padding:0 10px 0 0;
}
}
.trending-content{
	width:100%;
	margin-top:113px;
	padding:0 21px;
}
.trending-content .content_top img{
	display: inline-block;
    margin-right: 10px;
}
.trending-content .item{
	margin-bottom:20px;
}
.trending-content .item .content_top {
	line-height:36px;
	padding:0 10px 10px 10px;
}
.trending-content .item .list_content{
	padding:10px 0;
}
.trending-content .item  .content_body p{
	padding:10px 10px 0 10px;
}
.trending-content .item  .content_body h6{
	padding:15px 10px;
}
@media (min-width: 1200px){
.trending-content .col-lg-2{
	width:25%;
}
}
@media (min-width: 1440px){
.trending-content .col-lg-2{
	width:20%;
}
}
.person-info{
	position:absolute;
	margin-top:0px;
	margin-left:-108px;
	display:block;
}
.person-info .top-arrow{
	top: 0;
    left: 11%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #fff;
}
.person-inner{
	width:280px;
	float:left;
	border-radius:5px;
	background:#fff;
	margin-top:5px;
}
.person-inner-bg{
	width:100%;
	height:auto;
	float:left;
	overflow:hidden;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.person-inner-bg img{
	width:100%;
	float:Left;
	background-position:center;
}
.person-inner-top{
	width:100%;
	height:auto;
	position:absolute;
	background: -webkit-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0));/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0));
  padding:10px 10px;
  color:#fff;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.person-inner-top .btn-default{
	background:#fff;
	color:#333;
}
.person-inner-body{
	width:100%;
	float:left;
	padding:5px 10px;
	text-align:center;
	color:#333;
}
.person-show{
	width:100%;
	float:Left;
	margin:0;
	padding:0;
}
.person-show ul{
	width:100%;
	float:left;
	list-style:none;
	margin-top:10px;
	padding:0;
	margin-bottom:10px;
}
.person-show ul li{
	width:31%;
	border-radius:5px;
	float:left;
	margin-left:2%;
	cursor:pointer;
	padding:0;
}
.person-show ul li:hover,.person-show ul li:focus{
	opacity:.5;
	}

.person-show ul li img{
	width:100%;
	height:auto;
	float:Left;
	border-radius:5px;
	background-size:contain;
	cursor:pointer;
}
.media-left .person-info{
	display:none;	
}
.open  .person-info{
	display:block;	
}
.right-slide{
	display:none;
}
.right-slide .shadow{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
	z-index:1001;
	    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.right-slide .slide-body{
	position:fixed;
	top:0;
	height:100vh;
	overflow:auto;
	z-index:1002;
	right:0;
	width:600px;
	background:#fafafa;
	box-shadow:0px 0px 5px rgba(0,0,0,.5);
}
.slide-body .person-inner{
	margin:0;
	width:100%;
}
.slide-body .person-inner .person-inner-bg{
	border-radius:0;
	height:auto;
}
.slide-body .person-inner .person-inner-body{
	padding:0px 10px 10px 10px;
	text-align:left;
}
.person-intro{
	text-align:center;
	margin:20px 0;
	color:#adadad;
}
.slide-body .person-inner .person-inner-body .content_list ul li{
	border:1px solid #e5e5e5;
	border-radius:5px;
}
#content_body_info .modal-body{
	background:#fafafa;
}
.hot-info{
	position: absolute;
    margin-top: -200px;
    margin-left:60px;
    display: none;
}
.open .hot-info{
	display:block;
}
.hot-inner{
	background:#fff;
	width:358px;
	min-height:300px;
	max-height:530px;
	float:left;
	overflow:auto;
	box-shadow:0 0px 2px rgba(0,0,0,.3);
	border-radius:3px;
}
.hot-inner ul{
	width:100%;
	float:left;
	margin:0;
	padding:0 10px;
	list-style:none;
}
.hot-inner ul li{
	width:100%;
	float:left;
	margin:0;
	padding:5px 10px;
	border-bottom:1px solid #e5e5e5;
}
.hot-inner ul li .media-body{
	padding:8px 0;
}
.hot-inner ul li .btn-box-green{
	margin-top:3px;
}
.btn-box-green {
    WIDTh: 30px;
    height: 30px;
    float: right;
    border-radius: 5px;
    background: #1abc9c;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.btn-box-green:hover,.btn-box-green:focus{
	color:#fff;
	background:#16A085;
}
/*inbox*/
.inbox-bg{
	width:100%;
	background:#fff;
	border-radius:5px;	
	float:left;
	padding:10px;
}
.msg-box{
	width:100%;
	float:left;
	margin:0;
	padding:0;
}
.msg-box ul{
	width:100%;
	float:Left;
	margin:0;
	padding:0;
	list-style:none;	
}
.msg-box ul li{
	width:100%;
	float:Left;
	margin:0;
	padding:20px 10px;
	border-bottom:1px solid #f8f6f2;	
}
.set-user{
	width:100%;
	float:left;
	
}
.set-user .person-info{
	width:100%;
}
.set-user .person-info .person-inner{
	width:100%;	
}
.set-user .person-info .person-iner-bg{
	height:inherit;	
}
.set-user .person-info .person-user-img{
	width:96px;
	height:96px;
	margin:-60px auto 10px auto;	
}
.set-user .person-info .person-user-img img{
	width:100%;
	float:Left;
	border:2px solid #fff;
	border-radius:5px;	
}
.set-user .person-info .person-user-name{
	width:100%;
	padding:10px 20px;
	font-size:22px;
	text-align:center;
	float:left;
}
.set-user .form-control{
	border:none;	
}
.set-user .form-control:focus{
	border:1px solid #d9d9d9;	
}
.set-user .form-horizontal{
	text-align:left;	
}
.user-edit{
	width:30px;
	height:30px;
	border-radius:3px;
	background:rgba(0,0,0,.5);
	font-size:20px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.user-edit:hover{
	opacity:.5;	
}
.person-user-img .user-edit{
	position:absolute;
	margin-left:33px;
	margin-top:33px;	
}
.person-inner-bg .user-edit{
	    z-index: 10002;
    position: absolute;
    right: 10px;
    top: 80px;	
}
.trending-content .person-info{
	width:100%;
	float:left;
	display:block;
	position:inherit;
	margin:0;
}
.trending-content .person-info .person-inner{
	width:100%;	
}
.trending-content .person-info  .person-inner-top{
	width:91.228070%;
}